<nav>
    <img src="img/the_simpsons.png" alt="">
    <ul>
        <li>
            <a href="/">HOME</a>
        </li>        
        <li>
            <a href="/favorite-quotes">FAVORITE</a>
        </li>
    </ul>
</nav>